@tailwind base;
@tailwind components;
@tailwind utilities;

.n-container {
  @apply max-w-[1280px] m-auto w-[95%] sm:w-[90%];
}

/* .bg-primary {
  background-color: #263240;
}

.bg-secondary {
  background-color: #1f2630;
}

.bg-third {
  background-color: #171e26;
} */

.text-subTitle {
  @apply font-bold text-center text-3xl text-black dark:text-white;
}

.invert_item {
  @apply invert dark:invert-0;
}
